In [1]:
import pandas as pd
import numpy as np

In [2]:
df_raw = pd.read_csv("ISIC_2020_Training_GroundTruth.csv")
df_raw

,image_name,patient_id,sex,age_approx,anatom_site_general_challenge,diagnosis,benign_malignant,target
0,ISIC_2637011,IP_7279968,male,45.0,head/neck,unknown,benign,0
1,ISIC_0015719,IP_3075186,female,45.0,upper extremity,unknown,benign,0
2,ISIC_0052212,IP_2842074,female,50.0,lower extremity,nevus,benign,0
3,ISIC_0068279,IP_6890425,female,45.0,head/neck,unknown,benign,0
4,ISIC_0074268,IP_8723313,female,55.0,upper extremity,unknown,benign,0
...,...,...,...,...,...,...,...,...
33121,ISIC_9999134,IP_6526534,male,50.0,torso,unknown,benign,0
33122,ISIC_9999320,IP_3650745,male,65.0,torso,unknown,benign,0
33123,ISIC_9999515,IP_2026598,male,20.0,lower extremity,unknown,benign,0
33124,ISIC_9999666,IP_7702038,male,50.0,lower extremity,unknown,benign,0
33125,ISIC_9999806,IP_0046310,male,45.0,torso,nevus,benign,0

In [3]:
df_labels = df_raw[["image_name", "target"]]
df_labels = df_labels.rename(columns={"image_name":"image_id", "target":"cancer"})

In [4]:
## Randomize the order (to deal with clinic bias and maybe more)
df_random = df_labels.sample(frac=1)
df_random

           image_id  cancer
19968  ISIC_6065301       0
29054  ISIC_8791321       0
22031  ISIC_6671773       1
14407  ISIC_4414841       0
23034  ISIC_6997436       0
...             ...     ...
4746   ISIC_1522266       0
22088  ISIC_6688054       0
16794  ISIC_5136890       0
12976  ISIC_3992996       0
19579  ISIC_5944524       0

[33126 rows x 2 columns]

In [5]:
## Save this to csv (maybe not needed)
df_random.to_csv("ISIC_2020_GroundTruth_Random.csv")

In [10]:
## Pick X random images where cancer = 1, and X where cancer = 0
## First part with .loc is a "where-statement", and sample(100) takes 100 items at random from the random list
size_X = 250
df_sample_cancer = df_random.loc[(df_random["cancer"] == 1)].sample(size_X)
print(df_sample_cancer)

## Same as above, but with no_cancer
df_sample_no_cancer = df_random.loc[(df_random["cancer"] == 0)].sample(size_X)
print(df_sample_no_cancer)

           image_id  cancer
21557  ISIC_6541615       1
758    ISIC_0333091       1
11644  ISIC_3590167       1
21916  ISIC_6634951       1
20612  ISIC_6269166       1
...             ...     ...
32301  ISIC_9754098       1
1288   ISIC_0489267       1
22862  ISIC_6945634       1
9984   ISIC_3097354       1
8972   ISIC_2787702       1

[250 rows x 2 columns]
           image_id  cancer
26342  ISIC_7991932       0
16653  ISIC_5096556       0
1990   ISIC_0694033       0
10714  ISIC_3304982       0
13153  ISIC_4044272       0
...             ...     ...
8582   ISIC_2676009       0
7695   ISIC_2400548       0
7259   ISIC_2273490       0
12739  ISIC_3923443       0
11839  ISIC_3645705       0

[250 rows x 2 columns]

In [11]:
## Concat the two sample groups:
df_sample = pd.concat([df_sample_cancer,df_sample_no_cancer])
df_sample

           image_id  cancer
21557  ISIC_6541615       1
758    ISIC_0333091       1
11644  ISIC_3590167       1
21916  ISIC_6634951       1
20612  ISIC_6269166       1
...             ...     ...
8582   ISIC_2676009       0
7695   ISIC_2400548       0
7259   ISIC_2273490       0
12739  ISIC_3923443       0
11839  ISIC_3645705       0

[500 rows x 2 columns]

In [12]:
## Check that there are exactly 200 image_ids (no duplicates) and only 2 classes (cancer / no-cancer)
df_sample.nunique()

image_id    500
cancer        2
dtype: int64

In [13]:
## Save the sample data in a csv file
df_sample.to_csv("ISIC_2020_unlabeled_images.csv")